		<div class="progress_line" ng-class="{progress_line_border : inProcess > 3.6}">
		<fieldset class="ibox-content-with-line"  id="foreigncarArea"  ng-show="inProcess > 3"  >
				<i ng-class="inProcess === 3.5 ? 'fa fa-circle icon-process-line fa-2x ' : 'fa fa-check-circle-o icon-process-line fa-2x '" ></i>
				<label class="control-label col-sm-4 title-color no-padding" for="name" ng-click="showHideElement('#foreigncarAreaContent')" >Daten	des	Geschädigten</label>
				<label class="control-label sub-header col-sm-8 sub-title-color no-padding" for="name" ng-click="showHideElement('#foreigncarAreaContent')" >Angaben &#228;ndern</label>
				<label class="control-label col-sm-12 sub-title-color no-padding" for="name" ng-click="showHideElement('#foreigncarAreaContent')" >Wen	haben	Sie	geschädigt?</label>
				<fieldset class="custom-customer-area padding-10" id="foreigncarAreaContent">
				<fieldset class="border-area">
					<section class=" col-sm-12 no-padding-left-right form-group">
						<div class="col-lg-12">
							<section class="col-lg-12 no-padding-left-right">
	                        	<input id="name" class="form-control" type="text" placeholder="Name" ng-model="info.strangeVehicleName"/>
	                        </section>
	                        <section class="col-lg-12 no-padding-left-right">
	                        	<input id="name" class="form-control" type="text" placeholder="Kennzeichen" uppercased ng-model="info.strangeVehicleLicenseNumber"/>
	                        </section>
	                        <section class="col-lg-12 no-padding-left-right">
	                        	<input id="name" class="form-control" type="text" placeholder="Telefonnummer" only-digits ng-model="info.strangeVehiclePhone"/>
	                        </section>
						</div>
					</section>
				</fieldset>

				<section class="col-lg-12 no-padding-left-right padding-top18" ng-show="inProcess != 3.5">
					<button type="submit" value=""  class="btn btn-primary  no-margin " ng-click="backtotop()" ><i class='fa fa-angle-double-left'></i> Zurück	zum	Start</button>
					<button type="submit" value=""  class="btn btn-primary  no-margin pull-right "  ng-click="showHideElement('#accidentAreaContent')">Weiter <i class='fa fa-angle-double-right'></i> </button>
			  </section>
				</fieldset>
				<section class="col-lg-12 no-padding-left-right padding-top18"  ng-show="inProcess == 3.5">
						<button type="submit" value=""  class="btn btn-primary  no-margin " ng-click="backtotop()" ><i class='fa fa-angle-double-left'></i> Zurück	zum	Start</button>
                        <button type="submit" value=""  class="btn btn-primary  no-margin pull-right "  ng-click="nextToAccidentArea()">Weiter <i class='fa fa-angle-double-right'></i> </button>
                 </section>
			</fieldset>
	</div>
