<fieldset class="border-area" ng-show="!info.repairAlready" >
						<section class="col-sm-12 no-padding-left-right " >
							<div class="alert alert-warning" >
									<label class="control-label " for="name" >Mit GlasRepair wird Ihr Schaden bei einem unserer kompetenten
											Partner schnell und unkompliziert behoben. Sie müssen sich nur noch
											zwischen dem Serviceangebot unserer Junited®Autoglas, WINTEC®
											Autoglas, KS Autoglas oder Carglass® entscheiden.</label>
									<div><img src="images/claimstaglas.png" class="width-100-percent"/></div>
							</div>
						
						</section>

						<section class=" col-sm-12 no-padding-left-right none-display">
							<label class="control-label col-sm-4" for="name">Wollen Sie Ihr Fahrzeug reparieren lassen?</label>
							<div class="col-sm-8">
		                       	<label class=" radio control control--radio no-margin">
									<input type="radio" name="vehicleRepaired" ng-model="info.vehicleRepaired" ng-init="info.vehicleRepaired = 1" ng-value = 1>
									<i></i>Ja <div class="control__indicator"></div></label>
							</div>
						</section>
						<section class="col-sm-12 no-padding-left-right" >
							<label class="control-label col-sm-4" for="name" >Reparaturwerkstatt in der Nähe der PLZ</label>
							<div class="col-sm-8">
								<div class="col-sm-12 no-padding-left-right">
									<div class="input-group input-group-lg">
											<input class="form-control" type="text"  ng-model="info.nearPostCode" my-enter = "searchByPostCode()">
											<span class="input-group-btn "> <button class="btn btn-success no-margin no-border-no-radius " type="button" ng-click = "searchByPostCode()"><i class="fa fa-search" aria-hidden="true"></i>  Suchen</button></span>
									</div>
								</div>
								<div class="col-sm-12 no-padding-left-right">
						                        <div class="control-group">
									                    <label class="display-block control control--checkbox">
									                        <input type="checkbox"  ng-model="info.onlyBranded" /><i></i>nur markengebunden
									                        <div class="control__indicator"></div>
									                    </label>
									               </div>
							               </div>
							     <div  ng-include src="'partials/webassistant/werkstattnetzs.html'" ></div> 
							     <div class="col-sm-12 no-padding-left-right" ng-show="info.werkstattnetz">
						                        <div class="control-group">
									                    <label class="col-sm-12 control control--checkbox   no-margin checkbox-garage">
									                        <input type="checkbox"  ng-model="info.workshop" /><i></i>Ich wünsche Kontaktaufnahme durch die Werkstatt
									                        <div class="control__indicator margin-5"></div>
									                    </label>
									               </div>
							               </div>
							     
							</div>
						</section> 
						
					</fieldset>