<div class="progress_line">	
		<fieldset class="ibox-content-with-line"  id="reportArea"  ng-if="inProcess > 8" >
				<i ng-class="inProcess === 9 ? 'fa fa-circle icon-process-line fa-2x ' : 'fa fa-check-circle-o icon-process-line fa-2x '" ></i>
				<label class="control-label col-sm-12 title-color cursor-default  no-padding" for="name">Zusammenfassung</label>
				<label class="control-label col-sm-12 sub-title-color cursor-default no-padding" for="name">Bitte	überprüfen	Sie	nochmals	Ihre	angegebenen	Daten	zur	Schadenmeldung	auf	Vollständigkeit</label>
				<fieldset class="custom-customer-area padding-10" id="htmlSaveFile">
					<fieldset class="border-area none-display">
							<section class="col-sm-12 no-padding-left-right none-display ">
								<label class="control-label col-sm-4" for="name">Versicherungsscheinnummer:</label>
								<div class="col-sm-8">
						              <label class="control-label col-sm-12 font-weight-500" for="name">{{otherCustomer.policyNumber}}</label>
						        </div>
							</section>	
							<section class="col-sm-12 no-padding-left-right none-display ">
								<label class="control-label col-sm-4" for="name">Amtliches Kennzeichen: </label>
								<div class="col-sm-8">
						              <label class="control-label col-sm-12 font-weight-500" for="name">{{otherCustomer.licencePlateNumber}}</label>
						        </div>
							</section>	
							<section class="col-sm-12 no-padding-left-right none-display ">
								<label class="control-label col-sm-4" for="name">VN:</label>
								<div class="col-sm-8">
						              <label class="control-label col-sm-12 font-weight-500" for="name">{{otherCustomer.lastName}}, {{otherCustomer.firstName}}</label>
						        </div>
							</section>	
							<section class="col-sm-12 no-padding-left-right none-display ">
								<label class="control-label col-sm-4" for="name">VN-Adresse: </label>
								<div class="col-sm-8">
						              <label class="control-label col-sm-12 font-weight-500" for="name">{{otherCustomer.street}}, {{otherCustomer.zip}} {{otherCustomer.city}}</label>
						        </div>
							</section>	
						</fieldset>
					<label class="control-label col-sm-12" for="name">Angaben zu Ihrer Person</label>
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Name des Geschädigten:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.name}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Vorname des Geschädigten:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.forename}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Schadentag:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-if="info.dayOfAccidentUnknow">unbekannt </label>
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-if="!info.dayOfAccidentUnknow && (info.dayOfAccident || info.timeOfAccident)">{{info.dayOfAccident | date : 'dd.MM.yyyy'}} {{info.timeOfAccident}} Uhr </label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Schadenort:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-if="info.street">{{info.street}}<span class="none-display" > , </span>  </label>
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-if="info.postCode || info.city">{{info.postCode}} <span class="none-display" ng-if="info.postCode" > , </span>  {{info.city}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Umgebung des Schadens:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-if="info.environment">{{info.environment}} </label>
					        </div>
						</section>
						
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Kennzeichen des Geschädigten:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" >{{info.characteristicsYourCar}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Kilometerstand:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" >{{info.mileage}}</label>
					        </div>
						</section>
					</fieldset>
					
					<label class="control-label col-sm-12" for="name">Angaben zum Unfallgegner</label>
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Versicherungsnummer:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.insuranceNumber}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Kennzeichen:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.licencePlateNumberInjuredPerson}}</label>
					        </div>
						</section>
						
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Name:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.nameOffender}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Vorname:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.forenameOffender}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Straße & Hausnummer:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.streetOffender}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">PLZ & Ort:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-if="info.postCodeOffender || info.cityOffender">{{info.postCodeOffender}} <span class="none-display" ng-if="info.postCodeOffender" > , </span> {{info.cityOffender}}</label>
					        </div>
						</section>
					</fieldset>
					
					
					
					<label class="control-label col-sm-12" for="name">Fotos und Dokumente</label>
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Bilder:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{indexOfFile.image}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Dokumente:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{indexOfFile.document}}</label>
					        </div>
						</section>	
					</fieldset>
					<div ng-if="info.sms || info.email || info.whatsApp ||info.skype || info.faceTime|| info.googleDuo || info.googleHangouts || info.phoneContacts ">
					<label class="control-label col-sm-12" for="name">Kontaktboard</label>
					<fieldset class="border-area"  >
						<section class="col-sm-12 no-padding-left-right " ng-if="info.sms">
							<label class="control-label col-sm-4" for="name">SMS:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.smsValue}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right " ng-if="info.email">
							<label class="control-label col-sm-4" for="name">E-Mail:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.emailValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-if="info.whatsApp">
							<label class="control-label col-sm-4" for="name">WhatsApp:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.whatsAppValue}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right " ng-if="info.skype">
							<label class="control-label col-sm-4" for="name">Skype:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.skypeValue}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right " ng-if="info.faceTime">
							<label class="control-label col-sm-4" for="name">FaceTime:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.faceTimeValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-if="info.googleDuo">
							<label class="control-label col-sm-4" for="name">Google Duo:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.googleDuoValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-if="info.googleHangouts">
							<label class="control-label col-sm-4" for="name">Google Hangouts:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.googleHangoutsValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-if="info.phoneContacts">
							<label class="control-label col-sm-4" for="name">Telefon:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.phoneContactsValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " >
							<label class="control-label col-sm-4" for="name">Am besten zu erreichen:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.monday ? 'Montag':''}} {{info.tuesday ? 'Dienstag':''}}
					               {{info.wednesday ? 'Mittwoch':''}} {{info.thursday ? 'Donnerstag':''}} {{info.friday ? 'Freitag':''}}</label>
					               <label class="control-label col-sm-12 font-weight-500" for="name">{{info.fromTime}} <span ng-if="info.fromTime && info.toTime "> - </span> {{info.toTime}} <span ng-if="info.fromTime || info.toTime "> Uhr </span></label>
					        </div>
						</section>
					</fieldset>
					</div>
				</fieldset>
				<section class="col-lg-12 no-padding-left-right padding-top23"   >
					<button type="submit" value=""  class="btn btn-primary   no-margin" ng-click="backtotop()" ><i class='fa fa-angle-double-left'></i> Zurück	zum	Start</button>
                    <button type="submit" value=""  class="btn btn-primary no-margin margin-left-5  pull-right "    ng-click="reportScoreCard()">Schadenmeldung senden  </button>
                    <button type="submit" value=""  class="btn btn-primary no-margin   pull-right "  ng-click="goReportPage()">Schadenmeldung Druckansicht </button>
                 </section>
			</fieldset>
</div>