<div class="progress_line">	
		<fieldset class="ibox-content-with-line"  id="reportArea" >
				<label class="control-label col-sm-12 title-color cursor-default  no-padding" for="name"> Zusammenfassung Ihrer Schadenmeldung</label>
				<fieldset class="custom-customer-area padding-10">
					<label class="control-label col-sm-12" for="name">Persönliche Daten</label>
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Versicherungsscheinnummer:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.policyNumber}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Amtliches Kennzeichen:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.licencePlateNumber}}</label>
					        </div>
						</section>	
					</fieldset>
					<label class="control-label col-sm-12" for="name">Angaben zum Unfallgeschehen</label>
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Schadentag:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.dayOfAccidentUnknow">unbekannt </label>
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="!info.dayOfAccidentUnknow && (info.dayOfAccident || info.timeOfAccident)">{{info.dayOfAccident | date : 'dd.MM.yyyy'}} {{info.timeOfAccident}} Uhr </label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Schadenort:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.postCode">{{info.street}} </label>
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.postCode">{{info.postCode}}  {{info.city}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Umgebung des Schadens:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.environment">{{info.environment}} </label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Schadenart:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.claimType">{{info.claimType}} </label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Kilometerstand Fahrzeug:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.kmVehicle ? info.kmVehicle +' km' : ''}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Fahrzeug fahrbereit:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name"> {{info.vehicleReady == 1 ? 'Ja' : 'Nein'}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-show="info.vehicleReady ==0">
							<label class="control-label col-sm-4" for="name">Abschleppdienst ?:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name"> {{info.towingService == 1 ? 'Ja' : 'Nein'}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " >
							<label class="control-label col-sm-4" for="name">Beschädigung: </label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-repeat="(key,value) in info.whatBeenDamagedItem" ng-show="value"> {{key =='Sonstiges' ? info.whatBeenDamaged : key}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " >
							<label class="control-label col-sm-4" for="name">Reparatur durchgeführt:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name"> {{info.repairAlready == 1 ? 'Ja' : 'Nein'}}</label>
					        </div>
						</section>
						
						
					</fieldset>
					<!-- label class="control-label col-sm-12" for="name">Schäden am Fahrzeug</label>
					<fieldset class="border-area">
						
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Beschädigte Bauteile:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-repeat=" (key, value)  in info.damageItems track by $index "  ng-if="value">{{value}}</label>
					        </div>
						</section>	
						<!-- section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Geschätzte Schadenhöhe:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.rateDamage}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Reparieren:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.vehicleRepaired  == 1 ? 'Ja' :'Nein'}}</label>
					        </div>
						</section>
					</fieldset> -->
					<label class="control-label col-sm-12" for="name">Weitere Informationen zum Fahrzeug</label>
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Kilometerstand:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.kmVehicle}} km</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Schadenhöhe:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.rateDamage | number :2}}  <i class="fa fa-eur   " aria-hidden="true"></i></label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Nachweis Schadenhöhe:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.damageLevel}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-if="info.damageLevel != 'Rechnung'">
							<label class="control-label col-sm-4" for="name">Reparatur:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.vehicleRepaired  != 1 " >Nein</label>
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.vehicleRepaired  == 1 &&  info.werkstattnetz">
					              	<span class="col-sm-12 no-padding-left-right">{{info.werkstattnetz.name}}</span>
					              	<span class="col-sm-12 no-padding-left-right">{{info.werkstattnetz.strasse}}</span>
					              	<span class="col-sm-12 no-padding-left-right">{{info.werkstattnetz.plz}}</span>
					              	<span class="col-sm-12 no-padding-left-right">{{info.werkstattnetz.ort}}</span>
					              	<span class="col-sm-12 no-padding-left-right">{{info.werkstattnetz.telefon}}</span>
					              </label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right  " ng-show="info.workshop  == 1 " >
							<label class="control-label col-sm-4" for="name">Kontaktaufnahme durch Werkstatt:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" >Ja</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-if="info.damageLevel != 'Rechnung'">
							<label class="control-label col-sm-4" for="name">Auszahlung:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.moneyOfTheRepair  != 1 || info.vehicleRepaired == 1 ">Nein</label>
					              <label class="control-label col-sm-12 font-weight-500" for="name" ng-show="info.moneyOfTheRepair  == 1 && info.vehicleRepaired == 0">
					              	<span class="col-sm-12 no-padding-left-right">{{info.accountOwner}}</span>
					              	<span class="col-sm-12 no-padding-left-right">{{info.iban}}</span>
					              	<span class="col-sm-12 no-padding-left-right">{{info.bic}}</span></label>
					        </div>
						</section>
					</fieldset>
					<label class="control-label col-sm-12" for="name">Fotos und Dokumente</label>
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Bilder:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{indexOfFile.image}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right ">
							<label class="control-label col-sm-4" for="name">Dokumente:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{indexOfFile.document}}</label>
					        </div>
						</section>	
					</fieldset>
					<div ng-show="info.sms || info.email || info.whatsApp ||info.skype || info.faceTime|| info.googleDuo || info.googleHangouts || info.phoneContacts ">
					<label class="control-label col-sm-12" for="name">Kontaktboard</label>
					<fieldset class="border-area"  >
						<section class="col-sm-12 no-padding-left-right " ng-show="info.sms">
							<label class="control-label col-sm-4" for="name">SMS</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.smsValue}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right " ng-show="info.email">
							<label class="control-label col-sm-4" for="name">E-Mail</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.emailValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-show="info.whatsApp">
							<label class="control-label col-sm-4" for="name">WhatsApp</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.whatsAppValue}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right " ng-show="info.skype">
							<label class="control-label col-sm-4" for="name">Skype</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.skypeValue}}</label>
					        </div>
						</section>	
						<section class="col-sm-12 no-padding-left-right " ng-show="info.faceTime">
							<label class="control-label col-sm-4" for="name">FaceTime</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.faceTimeValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-show="info.googleDuo">
							<label class="control-label col-sm-4" for="name">Google Duo</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.googleDuoValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-show="info.googleHangouts">
							<label class="control-label col-sm-4" for="name">Google Hangouts</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.googleHangoutsValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " ng-show="info.phoneContacts">
							<label class="control-label col-sm-4" for="name">Telefon</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.phoneContactsValue}}</label>
					        </div>
						</section>
						<section class="col-sm-12 no-padding-left-right " >
							<label class="control-label col-sm-4" for="name">Am	besten	zu	erreichen:</label>
							<div class="col-sm-8">
					              <label class="control-label col-sm-12 font-weight-500" for="name">{{info.monday ? 'Montag':''}} {{info.tuesday ? 'Dienstag':''}}
					               {{info.wednesday ? 'Mittwoch':''}} {{info.thursday ? 'Donnerstag':''}} {{info.friday ? 'Freitag':''}}</label>
					               <label class="control-label col-sm-12 font-weight-500" for="name">{{info.fromTime}} <span ng-show="info.fromTime && info.toTime "> - </span> {{info.toTime}} <span ng-show="info.fromTime || info.toTime "> Uhr </span></label>
					        </div>
						</section>
					</fieldset>
					</div>
				</fieldset>
			</fieldset>
</div>