		<div class="progress_line" ng-class="{progress_line_border : inProcess > 8}">
		<fieldset class="ibox-content-with-line"  id="contactsArea"  ng-show="inProcess > 7" >
				<i ng-class="inProcess === 8 ? 'fa fa-circle icon-process-line fa-2x ' : 'fa fa-check-circle-o icon-process-line fa-2x '" ></i>
				<label class="control-label col-sm-4 title-color  no-padding" for="name" ng-click="showHideElement('#contactsAreaContent')" >Kontakt-Board</label>
				<label class="control-label sub-header col-sm-8 sub-title-color no-padding none-display" for="name" id="contactsAreaContentState" ng-click="showHideElement('#contactsAreaContent')" >Angaben &#228;ndern</label>
				<label class="control-label col-sm-12 sub-title-color no-padding" for="name" ng-click="showHideElement('#contactsAreaContent')" >Gerne	möchten	wir	mit	Ihnen	schnell	in	Kontakt	treten</label>
				<fieldset class="custom-customer-area padding-10 col-sm-12" id="contactsAreaContent">
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right ">
										<label class="control-label col-sm-4" for="name">Wie	können	wir	Sie	am	besten	erreichen?</label>
										<div class="col-sm-8">
										 <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.phoneContacts" /><i></i> Telefon
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.phoneContacts">
										                    <input id="name" class="form-control" type="tel" only-digits placeholder="Telefon" pattern="[0-9]*" ng-model="info.phoneContactsValue"/>
										               </div>
								               </div>
					                         <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.sms" ng-change="changeSms()" /><i></i> SMS
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.sms" >
										                    <input id="name" class="form-control" type="tel" placeholder="SMS" only-digits pattern="[0-9]*" ng-model="info.smsValue" ng-change="inputSms()"/>
										               </div>
								               </div>
								               <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.email" /><i></i> E-Mail
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.email" >
										                    <input id="name" class="form-control" type="email" placeholder="E-Mail" ng-model="info.emailValue"  ng-change="inputEmail()"/>
										               </div>
								               </div>
								               <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.whatsApp" ng-change="changeWhatApp()" /><i></i> WhatsApp
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.whatsApp">
										                    <input id="name" class="form-control" type="tel" placeholder="WhatsApp" only-digits pattern="[0-9]*" ng-model="info.whatsAppValue"/>
										               </div>
								               </div>
								                <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.skype" /><i></i> Skype
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.skype">
										                    <input id="name" class="form-control" type="text" placeholder="Skype" ng-model="info.skypeValue"/>
										               </div>
								               </div>
								                <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.faceTime" /><i></i> FaceTime
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.faceTime">
										                    <input id="name" class="form-control" type="text" placeholder="Face Time" ng-model="info.faceTimeValue"/>
										               </div>
								               </div>
								                <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.googleDuo" /><i></i>Google Duo
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.googleDuo">
										                    <input id="name" class="form-control" type="text" placeholder="Google Duo" ng-model="info.googleDuoValue"/>
										               </div>
								               </div>
								               <div class="col-sm-12 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.googleHangouts" /><i></i>Google Hangouts
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
										               <div class="control-group col-sm-6 no-padding-left-right" ng-show="info.googleHangouts">
										                    <input id="name" class="form-control" type="text" placeholder="Google Hangouts" ng-model="info.googleHangoutsValue"/>
										               </div>
								               </div>
								              
										</div>
						</section>
						<section class="col-sm-12 no-padding-left-right ">
										<label class="control-label col-sm-4" for="name">Wann	sind	Sie	am	besten	zu	erreichen?</label>
										<div class="col-sm-8">
					                         <div class="col-sm-4 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.monday" /><i></i> Montag
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
								               </div>
								               <div class="col-sm-4 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.tuesday" /><i></i> Dienstag
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
								               </div>
								               <div class="col-sm-4 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.wednesday" /><i></i> Mittwoch
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
								               </div>
								                <div class="col-sm-4 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.thursday" /><i></i> Donnerstag
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
								               </div>
								                <div class="col-sm-4 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.friday" /><i></i> Freitag
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
								               </div>
								                <div class="col-sm-4 no-padding-left-right">
							                        <div class="control-group col-sm-3 no-padding-left-right">
										                    <label class="display-block control control--checkbox">
										                        <input type="checkbox"  ng-model="info.saturday" /><i></i> Samstag
										                        <div class="control__indicator"></div>
										                    </label>
										               </div>
								               </div>
								                
										</div>
						</section>						
						<section class="col-sm-12 no-padding-left-right">
										<label class="control-label col-sm-4" for="name">Uhrzeit</label>
										<div class="col-sm-8">
											<div class="col-sm-6 no-padding-left-right">
												<label class="control-label " for="name">Von:</label>
					                                    <div class="input-group ">
					                                        <span class="input-group-addon" onclick="$('#fromTime').focus();"><i class="fa fa-calendar"></i></span>
					
					                                        <div timepicker=""   data-ng-model="info.fromTime">
					                                            <input type="text" placeholder="HH:MM"  id="fromTime" readonly="readonly" name="date" ng-blur="changeToTime()"
					                                                   class="form-control" 
					                                                   data-date-format="HH:mm">
					                                        </div>
					                                    </div>
					                                    </div>
					                             <div class="col-sm-6 no-padding-left-right">
					                                    <label class="control-label " for="name">Bis:</label>
					                                    <div class="input-group " >
					                                        <span class="input-group-addon" onclick="$('#toTime').focus();"><i class="fa fa-calendar"></i></span>
					
					                                        <div timepicker=""   data-ng-model="info.toTime">
					                                            <input type="text" placeholder="HH:MM"  readonly="readonly"  id="toTime" name="date" 
					                                                   class="form-control" 
					                                                   data-date-format="HH:mm">
					                                        </div>
					                                    </div>
					                              </div>
					                             
										</div>
										
						</section>	
						
					</fieldset>
					 <section class="col-lg-12 no-padding-left-right padding-top18" ng-show="inProcess != 8">
						<button type="submit" value=""  class="btn btn-primary  no-margin "   ng-click="showHideElement('#uploadFileAreaContent')"><i class='fa fa-angle-up'></i> Angaben	ändern</button>
						<button type="submit" value=""  class="btn btn-primary  no-margin pull-right "  ng-click="nextToReport()">Weiter <i class='fa fa-angle-double-right'></i> </button>
	                 </section>
				</fieldset>
				<section class="col-lg-12 no-padding-left-right padding-top18"  ng-show="inProcess == 8">
						<button type="submit" value=""  class="btn btn-primary  no-margin " ng-click="backtotop()" ><i class='fa fa-angle-double-left'></i> Zurück	zum	Start</button>
						<button type="submit" value=""  class="btn btn-primary  no-margin "   ng-click="showHideElement('#uploadFileAreaContent')"><i class='fa fa-angle-up'></i> Angaben	ändern</button>
                        <button type="submit" value=""  class="btn btn-primary  no-margin pull-right "  ng-click="nextToReport()">Weiter <i class='fa fa-angle-double-right'></i> </button>
                 </section>
			</fieldset>
	</div>
