		<div class="progress_line"  ng-class="{progress_line_border : inProcess > 6}" >
		<fieldset class="ibox-content-with-line"   id="detailsVehicleArea"  ng-show="inProcess > 5"  >
				<i ng-class="inProcess === 6 ? 'fa fa-circle icon-process-line fa-2x ' : 'fa fa-check-circle-o icon-process-line fa-2x '" ></i>
				<label class="control-label col-sm-4 title-color no-padding" for="name"  ng-click="showHideElement('#detailsVehicleAreaContent')">Weitere Informationen zum Fahrzeug</label>
				<label class="control-label sub-header col-sm-8 sub-title-color no-padding none-display" for="name" id="detailsVehicleAreaContentState" ng-click="showHideElement('#detailsVehicleAreaContent')" >Angaben &#228;ndern</label>
				<label class="control-label col-sm-12 sub-title-color no-padding" for="name"  ng-click="showHideElement('#detailsVehicleAreaContent')">Können wir Ihnen mit unserem Premium-Reparaturservice weiterhelfen?</label>
				<fieldset class="custom-customer-area padding-10 col-sm-12"  id="detailsVehicleAreaContent">
					<fieldset class="border-area">
						<section class="col-sm-12 no-padding-left-right">
							<label class="control-label col-sm-4" for="name" >Kilometerstand Ihres Fahrzeuges</label>
							<div class="col-sm-8">
								
								<div class="input-group input-group-lg">
											<input id="name" class="form-control" type="number"   ng-model="info.kmVehicle"/>
											<span class="input-group-btn"> <button class="btn btn-default no-margin no-border-no-radius"> Km </button></span>
									</div>
							</div>
						</section>
						<section class="col-sm-12 no-padding-left-right">
							<label class="control-label col-sm-4" for="name" >Wie hoch schätzen Sie die Schadenhöhe? (Betrag brutto)</label>
							<div class="col-sm-8">
								<div class="col-sm-12 no-padding-left-right">
									
									<div class="input-group input-group-lg">
											<input id="name" class="form-control" type="number"  ng-model="info.rateDamage"/>
											<span class="input-group-btn"> <i class="fa fa-eur btn btn-default no-margin no-border-no-radius" aria-hidden="true"></i></span>
									</div>
								</div>
								 <div class="col-sm-12 no-padding-left-right">
						                        <div class="control-group">
									                    <label class="display-block control control--checkbox">
									                        <input type="checkbox"  ng-model="info.rateDamageUnknow" /><i></i>unbekannt
									                        <div class="control__indicator"></div>
									                    </label>
									               </div>
							               </div>
							</div>
						</section>
						<section class="col-sm-12 no-padding-left-right">
							<label class="control-label col-sm-4" for="name" >Die Schadenhöhe wird wie folgt nachgewiesen</label>
							<div class="col-sm-8">
								<select id="iqTest" 
									class=" form-control" ng-model="info.damageLevel"
									ng-options=" data for data in damageLevels "  ng-change="changeDamageLevel()">
										<option value=""></option>
								</select>
							</div>
						</section>
					</fieldset>
					<div ng-if="info.typeOfDamage !='Glas' && info.typeOfDamage !='Hagel'" ng-hide="info.typeOfDamage =='Einbruch / Diebstahl' && !info.beenDamaged"  ng-include  src="'partials/webassistant/base/underdamagelevel.html'"></div>
					<div ng-if="info.typeOfDamage =='Glas'"  ng-include  src="'partials/webassistant/glas/underdamagelevel.html'"></div>
					<div ng-if="info.typeOfDamage =='Hagel'"  ng-include  src="'partials/webassistant/hagel/underdamagelevel.html'"></div>
				
				<!-- div id="map" style="display: none"></div> -->
				
					<section class="col-lg-12 no-padding-left-right padding-top18" ng-show="inProcess != 6">
						<button type="button" value=""  class="btn btn-primary  no-margin "  ng-show="!showAreaOfBeenDamaged && !hideHagel && !hideGlas"  ng-click="showHideElement('#infoVehicleAreaContent')"><i class='fa fa-angle-up'></i> Angaben	ändern</button>
						<button type="button" value=""  class="btn btn-primary  no-margin "  ng-show="showAreaOfBeenDamaged || hideHagel || hideGlas"  ng-click="showHideElement('#accidentAreaContent')"><i class='fa fa-angle-up'></i> Angaben	ändern</button>
						<button type="button" value=""  class="btn btn-primary  no-margin pull-right "  ng-click="showHideElement('#uploadFileAreaContent','true')">Weiter <i class='fa fa-angle-double-right'></i> </button>
	                 </section>
				</fieldset>
				<section class="col-lg-12 no-padding-left-right padding-top18 " ng-show="inProcess == 6">
						<button type="button" value=""  class="btn btn-primary  no-margin "  ng-click="backtotop()" ><i class='fa fa-angle-double-left'></i> Zurück	zum	Start</button>
						<button type="button" value=""  class="btn btn-primary  no-margin "  ng-show="!showAreaOfBeenDamaged && !hideHagel && !hideGlas"  ng-click="showHideElement('#infoVehicleAreaContent')"><i class='fa fa-angle-up'></i> Angaben	ändern</button>
						<button type="button" value=""  class="btn btn-primary  no-margin "  ng-show="showAreaOfBeenDamaged  || hideHagel || hideGlas"  ng-click="showHideElement('#accidentAreaContent')"><i class='fa fa-angle-up'></i> Angaben	ändern</button>
						<button type="button" value=""  class="btn btn-primary  no-margin pull-right "  ng-click="nextToUploadFile()">Weiter <i class='fa fa-angle-double-right'></i> </button>
                 </section>
			</fieldset>
			</div>
