
<div>
	<fieldset class="ibox-content-with-line">
		<label class="control-label col-sm-12 title-color no-padding center">Wiederbeschaffungswert</label>
		<fieldset class="custom-customer-area padding-10">
			<section class="col-sm-12 no-padding-left-right">
				<div class="col-sm-12">
					<label
						class="control-label col-sm-12 no-padding center bold">Der	Marktpreis	für	das	angefragte	Fahrzeug	liegt	bei: 
						<br> 9.049,34 € (Mwst nicht ausweisbar)
					</label>
				</div>
			</section>
		</fieldset>

	<section class="col-lg-12 no-padding-left-right padding-top18">
		<button type="submit" value=""
			class="btn btn-primary  no-margin pull-right "
			ng-click="closeInzahlungnahmeAlert()">
			Schließen <i class='fa fa-angle-double-right'></i>
		</button>
	</section>
		</fieldset>
</div>

