<section class=" col-sm-12 no-padding-left-right" >
	<label class="control-label col-sm-4" for="name">Wurde an Ihrem Fahrzeug etwas gestohlen?</label>
	<div class="col-sm-8">
		<label class=" radio control control--radio no-margin"> <input
			type="radio" name="stolen" ng-model="info.stolen"
			ng-value=1> <i></i>Ja
			<div class="control__indicator"></div></label> <label
			class=" radio control control--radio  no-margin"> <input
			type="radio" name="stolen" ng-model="info.stolen"
			ng-value=0> <i></i>Nein
			<div class="control__indicator"></div></label>

		<section class="col-sm-12  hiden-accident" ng-show="info.stolen">
			<div class="col-sm-6" ng-repeat="data in stolenDatas">
				<div class="control-group">
					<label class="display-block control control--checkbox"> <input
						type="checkbox" ng-model="info.stolenItem[data]" /><i></i>{{data}}
						<div class="control__indicator"></div>
					</label>
				</div>
			</div>
		</section>
		<section class="col-md-12 no-padding-left-right">
			<input type="text" class="form-control" ng-show="info.stolenItem['Sonstiges']" placeholder="Was wurde sonst noch gestohlen?"
				ng-model="info.otherStolen" />
		</section>
	</div>
</section>
<section class=" col-sm-12 no-padding-left-right" >
						<label class="control-label col-sm-4" for="name">Wurde das Fahrzeug beschädigt?</label>
						<div class="col-sm-8">
	                       	<label class=" radio control control--radio no-margin">
								<input type="radio" name="beenDamaged" ng-model="info.beenDamaged" ng-value = 1>
								<i></i>Ja <div class="control__indicator"></div></label>
					 		<label class=" radio control control--radio  no-margin">
								<input type="radio" name="beenDamaged" ng-model="info.beenDamaged" ng-value = 0 >
								<i></i>Nein<div class="control__indicator"></div></label>
						</div>
					</section>